<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.min.jss"></script>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
    <title>BukuKu</title>
</head>

<body>
    <header>
        <div class="container-fluid">
            <div class="header-atas d-md-block d-none">
                <div class="row">
                    <div class="col-md-2">
                        <span>Hi, Admin!</span>
                    </div>
                    <div class="col-md-5"></div>
                    <div class="col-md-5"></div>
                </div>
            </div>
            <div class="header-bawah">
                <div class="row">
                    <div class="col-md-2 col-sm-6">
                        <h1><a href="index-admin.html">BukuKu</a></h1>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <form action="search.html">
                            <input type="text" name="search" placeholder="search">
                        </form>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-3">
                        <ul class="nav">
                            <li class="nav-item nav-bawah"><a href="add-admin.html" class="nav-link">Cart</a></li>
                            <li class="nav-item nav-bawah"><button>Log Out</button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="isi-detail-buku">
        <div class="detail-box">
            <h1>Detail Buku</h1>
            <hr>
            <div class="row">
                <div class="col-md-2">
                    <label>Judul</label>
                </div>
                <div class="col-md-10">
                    <span>Resign!</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Harga</label>
                </div>
                <div class="col-md-10">
                    <span>Rp 85.000,00</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Kategori</label>
                </div>
                <div class="col-md-10">
                    <span>Novel, Metropop, Romance, Office</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Gambar</label>
                </div>
                <div class="col-md-10">
                    <img src="assets/image/Book/novel/resign.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Kode Promo</label>
                </div>
                <div class="col-md-10">
                    <span>None</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Kondisi</label>
                </div>
                <div class="col-md-10">
                    <span>Baru</span>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-2">
                    <label>ISBN</label>
                </div>
                <div class="col-md-10">
                    <span>9786020380711</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Penulis</label>
                </div>
                <div class="col-md-10">
                    <span>Almira Bastari</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Penerbit</label>
                </div>
                <div class="col-md-10">
                    <span>Gramedia Pustaka Utama</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Jumlah Halaman</label>
                </div>
                <div class="col-md-10">
                    <span>288</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Sinopsis</label>
                </div>
                <div class="col-md-10">
                    <p>Kompetisi sengit terjadi di sebuah kantor konsultan di Jakarta. Pesertanya adalah para cungpret, alias kacung kampret. Yang mereka incar bukanlah penghargaan pegawai terbaik, jabatan tertinggi, atau bonus terbesar, melainkan memenangkan taruhan untuk segera resign!
                    Cungpret #1: Alranita
                    Pegawai termuda yang tertekan akibat perlakuan sang bos yang semena-mena.
                    Cungpret #2: Carlo
                    Pegawai yang baru menikah dan ingin mencari pekerjaan dengan gaji lebih tinggi.
                    Cungpret #3: Karenina
                    Pegawai senior yang selalu dianggap tidak becus tapi terus-menerus dijejali proyek baru.
                    Cungpret #4: Andre
                    Pegawai senior kesayangan si bos yang berniat resign demi dapat menikmati kehidupan keluarga yang lebih normal dan seimbang.
                    Sang Bos: Tigran
                    Pemimpin genius, misterius, dan arogan, tapi sukses dipercaya untuk memimpin timnya sendiri pada usianya yang masih cukup muda.
                    Resign sebenarnya tidak sulit dilakukan. Namun kalau kamu memiliki bos yang punya radar sangat kuat seperti Tigran, semua usahamu pasti akan terbaca olehnya. Pertanyaannya, siapakah yang akan menang?</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Stok</label>
                </div>
                <div class="col-md-10">
                    <span>15</span>   
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Status</label>
                </div>
                <div class="col-md-10">
                    <span>Dijual</span>   
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container-fluid">
            <div class="footer-atas">
                <div class="row">
                    <div class="col-md-3 d-md-block d-none">
                        <h2>BukuKu</h2>
                        <span><a href="tentang-kami.html">Tentang Kami</a></span>
                        <br>
                        <span><a href="kisah-penjual.html">Kisah Penjual</a></span>
                        <br>
                        <span><a href="official-publisher.html">Official Publisher</a></span>
                        <br>
                        <span><a href="kegiatan-kami.html">Kegiatan Kami</a></span>
                    </div>
                    <div class="col-md-3 d-md-block d-none">
                        <h2>Beli</h2>
                        <span><a href="cara-belanja.html">Cara Belanja</a></span>
                        <br>
                        <span><a href="pembayaran.html">Pembayaran</a></span>
                        <br>
                        <span><a href="pengembalian-dana.html">Pengembalian Dana</a></span>
                        <br>
                        <span><a href="trending.html">Trending</a></span>
                    </div>
                    <div class="col-md-3 d-md-block d-none">
                        <h2>Jual</h2>
                        <span><a href="cara-berjualan.html">Cara Berjualan</a></span>
                        <br>
                        <span><a href="pencairan-dana.html">Pencairan Dana</a></span>
                        <br>
                        <span><a href="register-publisher.html">Daftar Official Publisher</a></span>
                    </div>
                    <div class="col-md-3 d-md-block d-none">
                        <h2>Bantuan</h2>
                        <span><a href="faq.html">FAQ</a></span>
                        <br>
                        <span><a href="contact.html">Hubungi Kami</a></span>
                        <br>
                        <span><a href="complaint.html">Komplain Pesanan</a></span>
                    </div>
                </div>
                <div class="row footer-atas-hidden">
                    <div class="col-3 d-sm-block d-md-none">
                        <button onclick="open_bukuku()">BukuKu</button>
                    </div>
                    <div class="col-3 d-sm-block d-md-none">
                        <button onclick="open_beli()">Beli</button>
                    </div>
                    <div class="col-3 d-sm-block d-md-none">
                        <button onclick="open_jual()">Jual</button>
                    </div>
                    <div class="col-3 d-sm-block d-md-none">
                        <button onclick="open_bantuan()">Bantuan</button>
                    </div>
                </div>
                <div class="isi-footer-atas" id="isi-bukuku" style="display: none">
                    <span><a href="tentang-kami.html">Tentang Kami</a></span>
                    <br>
                    <span><a href="kisah-penjual.html">Kisah Penjual</a></span>
                    <br>
                    <span><a href="official-publisher.html">Official Publisher</a></span>
                    <br>
                    <span><a href="kegiatan-kami.html">Kegiatan Kami</a></span>
                </div>
                <div class="isi-footer-atas" id="isi-beli" style="display: none">
                    <span><a href="cara-belanja.html">Cara Belanja</a></span>
                    <br>
                    <span><a href="pembayaran.html">Pembayaran</a></span>
                    <br>
                    <span><a href="pengembalian-dana.html">Pengembalian Dana</a></span>
                    <br>
                    <span><a href="trending.html">Trending</a></span>
                </div>
                <div class="isi-footer-atas" id="isi-jual" style="display: none">
                    <span><a href="cara-berjualan.html">Cara Berjualan</a></span>
                    <br>
                    <span><a href="pencairan-dana.html">Pencairan Dana</a></span>
                    <br>
                    <span><a href="register-publisher.html">Daftar Official Publisher</a></span>
                </div>
                <div class="isi-footer-atas" id="isi-bantuan" style="display: none">
                    <span><a href="faq.html">FAQ</a></span>
                    <br>
                    <span><a href="contact.html">Hubungi Kami</a></span>
                    <br>
                    <span><a href="complaint.html">Komplain Pesanan</a></span>
                </div>
            </div>
            <div class="footer-bawah">
                <div class="row">
                    <div class="col-md-2">
                        <span class="copyright">&copy; 2019, BukuKu</span>
                    </div>
                    <div class="col-md-7"></div>
                    <div class="col-md-3">
                        <div class="contact-us">
                            <span>Contact Us</span>
                            <a href="https://facebook.com"><img src="assets/image/icon/facebook.png"></a>
                            <a href="https://twitter.com"><img src="assets/image/icon/twitter.png"></a>
                            <a href="https://pinterest.com"><img src="assets/image/icon/pinterest.png"></a>
                            <a href="https://instagram.com"><img src="assets/image/icon/instagram.png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="assets/js/script.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.min.js"></script>
</body>

</html>