<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.min.jss"></script>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
    <title>BukuKu</title>
</head>

<body>
    <header>
        <div class="container-fluid">
            <div class="header-atas d-md-block d-none">
                <div class="row">
                    <div class="col-md-2">
                        <span>Hi, Admin!</span>
                    </div>
                    <div class="col-md-5"></div>
                    <div class="col-md-5"></div>
                </div>
            </div>
            <div class="header-bawah">
                <div class="row">
                    <div class="col-md-2 col-sm-6">
                        <h1><a href="index-admin.html">BukuKu</a></h1>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <form action="search.html">
                            <input type="text" name="search" placeholder="search">
                        </form>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-3">
                        <ul class="nav">
                            <li class="nav-item nav-bawah"><a href="add-admin.html" class="nav-link">Cart</a></li>
                            <li class="nav-item nav-bawah"><button>Log Out</button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="isi-index-admin">
        <div class="container">
            <a href="member-admin.html">
                <div class="content-index-admin">
                    <h2>Member</h2>
                    <span>100 Member</span>
                    <br>
                    <span>25 Penjual</span>
                </div>
            </a>
        </div>
        <div class="container">
            <a href="toko-admin.html">
                <div class="content-index-admin">
                    <h2>Toko</h2>
                    <span>25 Toko Active</span>
                    <br>
                    <span>0 Toko Inactive</span>
                </div>
            </a>
        </div>
        <div class="container">
            <a href="buku-admin.html">
                <div class="content-index-admin">
                    <h2>Buku</h2>
                    <span>75 Buku</span>
                </div>
            </a>
        </div>
        <div class="container">
            <a href="metode-pembayaran-admin.html">
                <div class="content-index-admin">
                    <h2>Metode Pembayaran</h2>
                    <span>10 Metode Pembayaran Active</span>
                    <br>
                    <span>1 Metode Pembayaran Disabled</span>
                </div>
            </a>
        </div>
        <div class="container">
            <a href="metode-pengiriman-admin.html">
                <div class="content-index-admin">
                    <h2>Metode Pengiriman</h2>
                    <span>6 Metode Pengiriman Active</span>
                    <br>
                    <span>0 Metode Pengiriman Disabled</span>
                </div>
            </a>
        </div>
        <div class="container">
            <a href="cart-admin.html">
                <div class="content-index-admin">
                    <h2>Cart</h2>
                    <span>30 Cart Unfinished</span>
                    <br>
                    <span>10 Cart Staged</span>
                    <br>
                    <span>25 Cart Finished</span>
                </div>
            </a>
        </div>
        <div class="container">
            <a href="transaction-admin.html">
                <div class="content-index-admin">
                    <h2>Transaksi</h2>
                    <span>6 Metode Staged</span>
                    <br>
                    <span>4 Metode Processed</span>
                    <br>
                    <span>25 Metode Finished</span>
                </div>
            </a>
        </div>
    </section>
    <footer>
        <div class="container-fluid">
            <div class="footer-atas">
                <div class="row">
                    <div class="col-md-3 d-md-block d-none">
                        <h2>BukuKu</h2>
                        <span><a href="tentang-kami.html">Tentang Kami</a></span>
                        <br>
                        <span><a href="kisah-penjual.html">Kisah Penjual</a></span>
                        <br>
                        <span><a href="official-publisher.html">Official Publisher</a></span>
                        <br>
                        <span><a href="kegiatan-kami.html">Kegiatan Kami</a></span>
                    </div>
                    <div class="col-md-3 d-md-block d-none">
                        <h2>Beli</h2>
                        <span><a href="cara-belanja.html">Cara Belanja</a></span>
                        <br>
                        <span><a href="pembayaran.html">Pembayaran</a></span>
                        <br>
                        <span><a href="pengembalian-dana.html">Pengembalian Dana</a></span>
                        <br>
                        <span><a href="trending.html">Trending</a></span>
                    </div>
                    <div class="col-md-3 d-md-block d-none">
                        <h2>Jual</h2>
                        <span><a href="cara-berjualan.html">Cara Berjualan</a></span>
                        <br>
                        <span><a href="pencairan-dana.html">Pencairan Dana</a></span>
                        <br>
                        <span><a href="register-publisher.html">Daftar Official Publisher</a></span>
                    </div>
                    <div class="col-md-3 d-md-block d-none">
                        <h2>Bantuan</h2>
                        <span><a href="faq.html">FAQ</a></span>
                        <br>
                        <span><a href="contact.html">Hubungi Kami</a></span>
                        <br>
                        <span><a href="complaint.html">Komplain Pesanan</a></span>
                    </div>
                </div>
                <div class="row footer-atas-hidden">
                    <div class="col-3 d-sm-block d-md-none">
                        <button onclick="open_bukuku()">BukuKu</button>
                    </div>
                    <div class="col-3 d-sm-block d-md-none">
                        <button onclick="open_beli()">Beli</button>
                    </div>
                    <div class="col-3 d-sm-block d-md-none">
                        <button onclick="open_jual()">Jual</button>
                    </div>
                    <div class="col-3 d-sm-block d-md-none">
                        <button onclick="open_bantuan()">Bantuan</button>
                    </div>
                </div>
                <div class="isi-footer-atas" id="isi-bukuku" style="display: none">
                    <span><a href="tentang-kami.html">Tentang Kami</a></span>
                    <br>
                    <span><a href="kisah-penjual.html">Kisah Penjual</a></span>
                    <br>
                    <span><a href="official-publisher.html">Official Publisher</a></span>
                    <br>
                    <span><a href="kegiatan-kami.html">Kegiatan Kami</a></span>
                </div>
                <div class="isi-footer-atas" id="isi-beli" style="display: none">
                    <span><a href="cara-belanja.html">Cara Belanja</a></span>
                    <br>
                    <span><a href="pembayaran.html">Pembayaran</a></span>
                    <br>
                    <span><a href="pengembalian-dana.html">Pengembalian Dana</a></span>
                    <br>
                    <span><a href="trending.html">Trending</a></span>
                </div>
                <div class="isi-footer-atas" id="isi-jual" style="display: none">
                    <span><a href="cara-berjualan.html">Cara Berjualan</a></span>
                    <br>
                    <span><a href="pencairan-dana.html">Pencairan Dana</a></span>
                    <br>
                    <span><a href="register-publisher.html">Daftar Official Publisher</a></span>
                </div>
                <div class="isi-footer-atas" id="isi-bantuan" style="display: none">
                    <span><a href="faq.html">FAQ</a></span>
                    <br>
                    <span><a href="contact.html">Hubungi Kami</a></span>
                    <br>
                    <span><a href="complaint.html">Komplain Pesanan</a></span>
                </div>
            </div>
            <div class="footer-bawah">
                <div class="row">
                    <div class="col-md-2">
                        <span class="copyright">&copy; 2019, BukuKu</span>
                    </div>
                    <div class="col-md-7"></div>
                    <div class="col-md-3">
                        <div class="contact-us">
                            <span>Contact Us</span>
                            <a href="https://facebook.com"><img src="assets/image/icon/facebook.png"></a>
                            <a href="https://twitter.com"><img src="assets/image/icon/twitter.png"></a>
                            <a href="https://pinterest.com"><img src="assets/image/icon/pinterest.png"></a>
                            <a href="https://instagram.com"><img src="assets/image/icon/instagram.png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="assets/js/script.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.min.js"></script>
</body>

</html>