$dark-blue : #1206C2;
$light-blue : #AEE4FE;
$color-white : #F7F7F7;
$color-grey : #B5B5B8;
$border-colors : #707070;
$primary-font-family : 'Fira Sans',
sans-serif;
$secondary-font-family : 'Poppins',
sans-serif;
$third-font-family: 'Source Sans Pro',
sans-serif;

%form-style {
    color: $dark-blue;
    font-size: 20px;
}

%footer-style {
    color: $dark-blue;
    font-family: $secondary-font-family;
    font-weight: bold;
}

%category-style {
    font-family: $primary-font-family;
    font-weight: bold;
    font-size: 25px;
}

%shadow {
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 3px 6px 0px rgba(175, 171, 171, 0.16);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

%nav-button {
    background-color: transparent;
    border: none;
}

.container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.show {
    display: block !important;
}

// Styling header-footer
.container-fluid {
    padding: 0;
}

.nav-link {
    padding: 0;
}

a:hover{
    text-decoration: none !important;
}

a:focus{
    text-decoration: none !important;
}

//styling header

.header-atas {
    background-color: $color-white;
    padding: 0 22px;

    .col-md-5 {
        text-align: right;
    }

    li {
        font-family: $primary-font-family;
        font-size: 15px;
        margin: 2px 7%;
    }

    .nav-link, span {
        color: $color-grey;
        padding: 0;
    }
}

.header-bawah {
    background-image: linear-gradient(to left, $dark-blue, $light-blue);
    @extend %shadow;

    h1 {
        font-family: $third-font-family;
        color: $dark-blue;
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 0;
        margin-left: 10px;
    }

    a {
        color: $dark-blue;
    }

    a:hover {
        color: $dark-blue;
    }

    a:active {
        color: $dark-blue;
    }

    button:hover{
        color: $dark-blue;
    }

    form {
        margin-top: 6px;
        vertical-align: text-bottom;
    }

    input {
        width: 300px;
        height: 40px;
        background-image: url('../image/icon/search.png');
        background-size: 35px;
        background-repeat: no-repeat;
        background-color: transparent;
        padding: 0 0 0 45px;
        border: none;
        border-bottom: 1px solid $dark-blue;
        margin: 11px 20px;
        @extend %form-style;
    }

    input:-internal-autofill-selected{
        background-color: transparent !important;
        background-image: url('../image/icon/search.png') !important;
    }

    ::placeholder {
        @extend %form-style;
    }

    .nav {
        margin-top: 7px;
    }

    li {
        font-family: $third-font-family;
        font-size: 25px;
        padding: 8px 20px;
    }

    .nav-link {
        color: $color-white;
        padding: 0;
    }

    button {
        color: $color-white;
        @extend %nav-button;
        cursor: pointer;
    }
}

//styling explore

.header-hidden {
    background-color: $color-white;
    @extend %shadow;
    padding: 10px 25px 20px 25px;
    color: $dark-blue;
    font-family: $secondary-font-family;

    h1 {
        padding: 0 10px;
        font-size: 25px;
        font-weight: bold;
    }

    .isi-header-hidden {
        padding: 0 10px;
    }

    a {
        font-family: $secondary-font-family;
        font-weight: bold;
        color: $dark-blue;
    }

    .col-4 {
        text-align: center;
    }

    button {
        font-family: $secondary-font-family;
        font-weight: bold;
        color: $dark-blue;
        @extend %nav-button;
    }

    .isi-explore {
        text-align: center;
        padding-top: 10px;
        margin-top: 10px;
        border-top: 3px solid $dark-blue;
    }
}

//styling login

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);

    input {
        width: 100%;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto 15% auto;
        border: 1px solid $dark-blue;
        padding: 10px 20px;
        width: 70%;
        font-family: $primary-font-family;
        color: $dark-blue;
        font-weight: bold;

        h5{
            font-size: 18px;
            font-weight: bold
        }

        .exit {
            text-align: right;

            img {
                text-align: right;
                height: 20px;
                width: 20px;
            }
        }

        h1 {
            text-align: center;
            font-weight: bold;
        }

        hr {
            border: 0;
            clear: both;
            display: block;
            width: 96%;
            background-color: $dark-blue;
            height: 3px;
        }

        button {
            font-family: $primary-font-family;
            font-weight: bold;
            color: $dark-blue;
        }

        .forgetPass{
            cursor: pointer;
        }

        .signUp{
            cursor: pointer;
        }

        .buttonModal{
            width: 100%;
            font-family: $primary-font-family;
            font-weight: bold;
            background-color: $dark-blue;
            color: $color-white;
            border-radius: 25px;
        }

        input {
            width: 100%;
        }

        a {
            font-family: $primary-font-family;
            font-weight: bold;
            color: $dark-blue;
        }

        span {
            font-family: $primary-font-family;
            font-weight: bold;
        }

    }
}

//styling index
.index-up {
    text-align: right;
    padding: 70px 70px;
    font-family: $primary-font-family;
    color: $dark-blue;

    .welcome {
        font-size: 55px;
    }

    .notes {
        font-size: 30px;
    }

    .welcome-msg {
        margin: 80px 5%;
    }

    .carousel-inner {
        background-color: white;

        img {
            margin: 0 30%;
        }
    }
}

.baca-selengkapnya {
    color: $dark-blue;
    font-family: $secondary-font-family;
    font-weight: bold;
}

.main-index-styling {
    text-align: center;
    @extend %category-style;
    color: $color-white;
    background-image: url('../image/hiasan/blue-brush-stroke.png');
    background-size: 250px;
    background-repeat: no-repeat;
    padding: 30px;
    margin-bottom: 0;
    background-position-x: 38px;
}

.kategori h2 {
    @extend %category-style;
    color: $dark-blue;
    padding: 30px 70px;
    margin-bottom: 0;
}

.garis {
    height: 3px;
    background-color: $dark-blue;
    margin: 45px 0;
}

.telusuri {
    padding: 35px 40px;
    color: $dark-blue;

    :hover {
        color: $dark-blue;
    }
}

.arrow {
    width: 20px;
    height: 20px;
}

.book-big {
    text-align: center;
    margin: 30px 60px;

    img {
        height: 300px;
        width: auto;
        margin: 5px 20px;
    }
}

.publisher{
    margin: 0 5%;

    .publisher-big{
        text-align: center;
        vertical-align: middle;
        border: 1px solid $border-colors;
        width: 210px;
        height: 210px;
        max-width: 100%;

        img{
            width: 200px;
            max-width: 100%;
        }
    }
    
    .publisher-small{
        text-align: center;
        vertical-align: middle;
        border: 1px solid $border-colors;
        width: 110px;
        height: 110px;
        max-width: 100%;

        img{
            width: 100px;
            max-width: 100%;
        }
    }
}

.categories {
    margin: 0px 60px 45px 60px;
    text-align: center;

    .isi-kategori {
        background-color: $dark-blue;
        border-radius: 25px;
        color: $color-white;
        font-family: $third-font-family;
        font-weight: bold;
        padding: 3px 0;
        width: 180px;
        margin: 3px 0;
    }
}

//styling index-admin

.isi-index-admin {

    a:hover {
        text-decoration: none;
        
        .content-index-admin{
            background-color: $light-blue;
        }
    }

}

.content-index-admin {
    margin: 10px 10%;
    border: 1px solid $border-colors;
    border-radius: 10px;
    background-color: $color-white;
    color: $dark-blue;
    font-family: $third-font-family;
    padding: 3px 5px;
}

//styling sign-up

.signup-box {
    width: 60%;
    padding: 20px;
    border: 1px solid $light-blue;
    border-radius: 25px;
    @extend %shadow;
    margin: 100px auto;
    color: $dark-blue;
    font-weight: bold;

    h1 {
        text-align: center;
        font-weight: bold;
    }

    hr {
        border: 0;
        clear: both;
        display: block;
        width: 96%;
        background-color: $dark-blue;
        height: 3px;
    }

    a {
        color: $dark-blue;
    }

    input {
        width: 100%;
    }

    p {
        text-align: center;
        padding: 0 20%;
    }

    button {
        width: 50%;
        font-family: $primary-font-family;
        font-weight: bold;
        background-color: $dark-blue;
        color: $color-white;
        border-radius: 25px;
        margin: 0 25%;
    }
}

//styling kategori

.isi-tab-kategori {
    font-size: 15px;

    .sidebar {
        padding: 15px 5px;
        background-color: $color-white;
        border-right: 5px solid $color-grey;
        height: 100%;
        font-family: $primary-font-family;

        h5{
            font-weight: bold;
        }

        a {
            color: $dark-blue;
        }

        .filter{
            font-weight: bold;
            color: $dark-blue;
        }
    }

    button {
        width: 50%;
        font-family: $primary-font-family;
        font-weight: bold;
        background-color: $dark-blue;
        color: $color-white;
        border-radius: 25px;
        margin: 0 25%;
    }

    .konten-kategori {
        padding: 20px 2%;
        font-family: $primary-font-family;

        .buku-small {
            margin: 5px;
            border: 1px solid $border-colors;
            padding: 2%;
            height: 310px;

            .judul {
                font-weight: bold;
            }

            span {
                color: $dark-blue;
            }
        }

        img {
            height: 200px;
            width: auto;
            margin: 0 13%;
        }
    }
}

.pages{
    padding: 0 10%;
    font-weight: bold;
    color: $dark-blue;

    .page {
        margin: 0 30px 10px 0;
        font-family: $primary-font-family;

        .page-link{
            min-width: 20px !important;
            padding: 0.3rem 0.25rem;
        }
        
        button {
            background-color: $color-white;
            color: $dark-blue;
            width: 105%;
            margin: 0;
            border-radius: 3px;
            font-size: 12px;
        }
    
        .active {
            background-color: $dark-blue;
            color: $color-white;
        }
    }
}

//styling start-shop

.konten-start-shop {
    font-family: $primary-font-family;
    color: $dark-blue;

    p,
    li {
        font-size: 25px;
    }

    .col-md-6 {
        padding: 10px 3%;
        vertical-align: middle;
        height: 300px;
    }

    .col-md-12 {
        text-align: center;
        padding: 20px 5% 50px 5%;
    }

    hr {
        border: 0;
        clear: both;
        display: block;
        width: 96%;
        background-color: $dark-blue;
        height: 3px;
        margin-top: 0;
    }

    button {
        background-color: $dark-blue;
        border-radius: 20px;
        color: $color-white;
        padding: 10px 20px;
        font-size: 25px;
    }
}

//styling daftar-toko

.register-box {
    width: 60%;
    padding: 20px;
    border: 1px solid $light-blue;
    border-radius: 25px;
    @extend %shadow;
    margin: 100px auto;
    color: $dark-blue;
    font-weight: bold;

    h1 {
        text-align: center;
        font-weight: bold;
    }

    hr {
        border: 0;
        clear: both;
        display: block;
        width: 96%;
        background-color: $dark-blue;
        height: 3px;
    }

    a {
        color: $dark-blue;
    }

    input {
        width: 100%;
    }

    p {
        text-align: center;
        padding: 0 20%;
    }

    button {
        width: 50%;
        font-family: $primary-font-family;
        font-weight: bold;
        background-color: $dark-blue;
        color: $color-white;
        border-radius: 25px;
        margin: 0 25%;
    }
}

//styling main shop

.isi-tab-main-shop {
    font-size: 15px;

    .sidebar {
        padding: 15px 5px;
        background-color: $color-white;
        border-right: 5px solid $color-grey;
        height: 100%;
        font-family: $primary-font-family;

        h1 {
            font-size: 30px;
        }

        a {
            color: $dark-blue;
        }
    }

    button {
        width: 50%;
        font-family: $primary-font-family;
        font-weight: bold;
        background-color: $dark-blue;
        color: $color-white;
        border-radius: 25px;
        margin: 0 25%;
    }

    .konten-kategori {
        padding: 20px 2%;
        font-family: $primary-font-family;

        .buku-small {
            margin: 5px;
            border: 1px solid $border-colors;
            padding: 2%;
            height: 310px;

            .judul {
                font-weight: bold;
            }

            span {
                color: $dark-blue;
            }
        }

        img {
            height: 200px;
            width: auto;
            margin: 0 13%;
        }
    }
}

//styling book & member info

.info-box {
    width: 90%;
    padding: 20px;
    border: 1px solid $light-blue;
    border-radius: 25px;
    @extend %shadow;
    margin: 100px auto;
    color: $dark-blue;
    font-weight: bold;

    h1 {
        text-align: center;
        font-weight: bold;
    }

    hr {
        border: 0;
        clear: both;
        display: block;
        width: 96%;
        background-color: $dark-blue;
        height: 3px;
    }

    a {
        color: $dark-blue;
    }

    input {
        width: 100%;
    }

    p {
        text-align: center;
        padding: 0 20%;
    }

    button {
        width: 50%;
        font-family: $primary-font-family;
        font-weight: bold;
        background-color: $dark-blue;
        color: $color-white;
        border-radius: 25px;
        margin: 0 25%;
    }

    #kondisi {
        width: auto;
    }
}

//styling details

.details-box {
    width: 90%;
    padding: 20px;
    border: 1px solid $light-blue;
    border-radius: 25px;
    @extend %shadow;
    margin: 100px auto;
    color: $dark-blue;
    font-weight: bold;

    h1 {
        text-align: center;
        font-weight: bold;
    }

    hr {
        border: 0;
        clear: both;
        display: block;
        width: 96%;
        background-color: $dark-blue;
        height: 3px;
    }

    a {
        color: $dark-blue;
    }

    img{
        margin-left: 10%;
        height: 400px;
    }

    .jumlah{

        text-align: center;
        padding: 5px 0;

        img{
            height: 30px;
            margin: 3px;
        }
    
        input {
            width: 30px;
            text-align: center;
        }
    }

    .kurir{
        text-align: center;

        img{
            height: 50px;
            margin: 0;
            margin-top: 20px;
        }

        span{
            padding-bottom: 10px;
        }
    }

    h4{
        font-weight: bold;
    }

    span{
        font-weight: normal;
    }

    p{
        font-weight: normal;
    }

    button {
        width: 50%;
        font-family: $primary-font-family;
        font-weight: bold;
        background-color: $dark-blue;
        color: $color-white;
        border-radius: 25px;
        margin: 0 25%;
    }

    #kondisi {
        width: auto;
    }
}

//styling konten admin

.isi-tab-admin {
    font-size: 15px;

    .sidebar-admin {
        padding: 15px 5px;
        background-color: $color-white;
        border-right: 5px solid $color-grey;
        height: 100%;
        font-family: $primary-font-family;

        h1{
            font-size: 30px;
        }

        a {
            background-color: $dark-blue;
            color: $color-white;
            padding: 3px 3%;
            margin-top: 10px;
            border-radius: 10px;
        }
    }

    a{
        text-decoration: none;
    }

    .konten-admin {
        padding: 20px 2%;
        font-family: $primary-font-family;

        .detail-admin {
            margin: 5px;
            border: 1px solid $border-colors;
            padding: 2%;
            background-color: $color-white;
            border-radius: 10px;

            span {
                color: $dark-blue;
            }
        }
    }
}

//styling detail admin

.detail-box {
    width: 90%;
    padding: 20px;
    border: 1px solid $light-blue;
    border-radius: 25px;
    @extend %shadow;
    margin: 100px auto;
    color: $dark-blue;
    font-weight: bold;

    h1 {
        text-align: center;
        font-weight: bold;
    }

    hr {
        border: 0;
        clear: both;
        display: block;
        width: 96%;
        background-color: $dark-blue;
        height: 3px;
    }

    a {
        color: $dark-blue;
    }

    input {
        width: 100%;
    }

    img{
        height: 300px;
    }

    button {
        width: 50%;
        font-family: $primary-font-family;
        font-weight: bold;
        background-color: $dark-blue;
        color: $color-white;
        border-radius: 25px;
        margin: 0 25%;
    }

    #kondisi {
        width: auto;
    }
}

//styling footer

footer {
    span {
        @extend %footer-style;
        font-size: 15px;
        padding: 3px 0;
    }
}

.footer-atas {
    background-color: $light-blue;
    padding: 30px 50px;

    h2 {
        @extend %footer-style;
        font-size: 20px;
        padding-bottom: 3px;
        margin-bottom: 0;
    }

    a {
        @extend %footer-style;
    }

    a:hover {
        text-decoration: none;
    }
}

.footer-bawah {
    background-color: $color-white;
    padding: 0 22px;

    .copyright {
        padding-top: 5px;
        color: $color-grey;
    }

    img {
        width: 20px;
        height: 20px;
        margin: 10px 2.5px;
    }

    .contact-us {
        margin-left: 80px;
    }
}

.footer-atas-hidden {
    text-align: center;

    button {
        @extend %nav-button;
        @extend %footer-style;
        padding: 0;
    }
}

.isi-footer-atas {
    text-align: center;
    @extend %footer-style;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 3px solid $dark-blue;
}

//Styling pagination




// Tab Size
@media only screen and (max-width: 1000px){
    .header-atas {
    
        li {
            font-family: $primary-font-family;
            font-size: 15px;
            margin: 2px 5%;
        }
    }


    .index-up{
        padding: 0;
    }

    .categories {
        .isi-kategori {
            padding: 5px 0;
            width: 160px;
            font-size: 15px;
        }
    }

    .kategori h2 {
        padding: 30px 30px;
    }

    .garis {
        margin-left: 40px;
    }

    .buku-small {
        margin: 5px;
        border: 1px solid $border-colors;
        padding: 2%;
        height: 310px;

        .judul {
            font-weight: bold;
        }

        span {
            color: $dark-blue;
        }
    }
}

// 
@media only screen and (max-width: 600px){
    .header-hidden {
        background-color: $color-white;
        @extend %shadow;
        padding: 10px 15px 20px 15px;
        color: $dark-blue;
        font-family: $secondary-font-family;
    }

    .categories {
        .isi-kategori {
            padding: 10px 0;
            width: 130px;
            font-size: 12px;
        }
    }

    .telusuri{
        padding: 27px 10px;

        .baca-selengkapnya{
            font-size: 15px;
        }
    }

    .main-index-styling{
        font-size: 20px;
        background-image: none;
        color: $dark-blue;
    }

    .publisher{
        margin: 0 20%;
    }

    .buku-small {
        margin: 5px;
        border: 1px solid $border-colors;
        padding: 2%;
        height: 310px;

        .judul {
            font-weight: bold;
        }

        span {
            color: $dark-blue;
        }
    }
}